.buy-now-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buy-now-page h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 3px solid #9dd1fc;  /* Add blue line */
    padding-bottom: 10px;  /* Space between text and line */
    display: inline-block; 
}


.buy-now-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: 20px;
    background-color: #f8f8f8;
    padding: 20px;
}

/* Add the new product wrapper styles */
.product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: calc(33.333% - 20px); 
}
.collar-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.collar-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.collar-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.collar-details {
    text-align: center;
    width: 100%;
    padding: 5px;
}

.collar-details button {
    background-color: #ff982a;
    border: none;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.collar-details button:hover {
    background-color: #b95814;
}

h2 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin: 0;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.why-us {
    background-color: #d6ecfc;
    width: 83%;
}
.why-us h2 {
    text-align: center;
    font-size: 30px;
    color: #007bff;
}
.why-us-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}
.why-us-item {
    flex: 1;
    min-width: 200px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.why-us-item::before {
    content: "✓";
    display: block;
    font-size: 32px;
    color: #007bff;
    margin-bottom: 15px;
}

.why-us-item h4 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}
@media (max-width: 768px) {
    .product-wrapper {
        width: 90%;
    }
}