.navbar {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px solid #ddd;
}
.nav-item {
    margin: 0 10px;
    font-size: 22px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}
.btn {
    background-color: #9dd1fc;
    border: none;
}
.btn:hover {
    background-color: #387bc3;
}
.nav-item .btn {
    margin: 0 10px;
    font-size: 22px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}